numpy
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.5.1
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.20.1
kfserving
opencv-python
onnx==1.19.0
onnxruntime-gpu==1.19.0
mxnet-cu101mkl
scikit-image
insightface==0.2.1
requests==2.25.1
kornia==0.5.4
dill
wandb
